@import "tailwindcss";

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    @apply text-gray-800;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-medium;
  }
}

@utility perspective-1000 {
  perspective: 1000px;
}

@utility rotate-y-3 {
  transform: rotateY(3deg);
}

@utility rotate-y-6 {
  transform: rotateY(6deg);
}