@import "tailwindcss";

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    @apply text-gray-800;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-medium;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .rotate-y-3 {
    transform: rotateY(3deg);
  }
  
  .rotate-y-6 {
    transform: rotateY(6deg);
  }
}